/* 기본 스타일 초기화 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

/* 컨테이너 스타일 */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h1 {
    color: #343a40;
    margin-bottom: 20px;
}

/* 운동 그룹 스타일 */
.exercise-group {
    margin-bottom: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 15px;
    background-color: #f1f1f1;
}

/* 세트 헤더 스타일 */
.set-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 세트 컨테이너 스타일 */
.set-container {
    margin-bottom: 10px;
}

/* 세트 행 스타일 */
.set-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    text-align: center;
}

/* 입력 필드 스타일 */
input.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
}

/* 버튼 스타일 */
.btn {
    margin-top: 10px;
}

/* 링크 버튼 스타일 */
.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}
.modal-lg{
    max-width: 800px; }
