<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/custom.css}">
    <title>프로필 입력</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <script th:src="@{/popper.min.js}"></script> <!-- Popper.js 추가 -->
    <script th:src="@{/bootstrap.min.js}"></script> <!-- Bootstrap JS 추가 -->
    <h1>유저 프로필 입력</h1>
    <form action="/food/save_profile" method="post">
        <input type="hidden" name="user_id" th:value="${#authentication.name}">
        
        <input type="number" name="age" placeholder="만 나이">
        <input type="number" name="height" placeholder="신장">
        <input type="number" name="weight" placeholder="체중">
        <!-- 성별 입력 -->
        <label><input type="radio" name="gender" value="male" required> 남성</label><br>
        <label><input type="radio" name="gender" value="female" required> 여성</label><br>

        <!-- 카테고리 입력-->
        <label><input type="checkbox" name="preferredCategories" value="1"> 밥류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="2"> 과자류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="3"> 국물류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="4"> 두부류묵류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="5"> 떡류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="6"> 만두류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="7"> 면류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="9"> 빙과류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="10"> 빵류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="11"> 샌드위치류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="12"> 샐러드류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="13"> 생채·무침류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="14"> 수산가공식품류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="15"> 식육가공품 및 육류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="16"> 알가공품류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="17"> 유제품류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="18"> 음료류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="19"> 잼류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="20"> 전·적 및 부침류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="21"> 절임류조림류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="22"> 즉석식품류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="23"> 코코아초콜릿류</label><br>
        <label><input type="checkbox" name="preferredCategories" value="24"> 햄버거류</label><br>
        
        <!-- Submit 버튼 추가 -->
        <button type="submit">저장</button>
    </form>
</body>
</html>
