<!doctype html>
<html lang="ko">
  <head>
    <!--  Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width , initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
    <title>Fitness</title>
  </head>

  <body>
    <!-- 내비게이션 바 -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>

    <div style="display: flex; justify-content: space-between">
      <h1>나의 루틴</h1>
      <button type="button" onclick="location.href='/workout/make_routine'">+루틴 추가</button>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="list-group">
            <div class="list-group-item" th:each="routine : ${routines}">
              <div style="display: flex; justify-content: space-between">
                <h5 class="mb-1" th:text="${routine.routine_name}">루틴 이름</h5>
                <p class="routineId" style="display: none" th:text="${routine.getId()}">id</p>
                <button class="btn btn-danger delete-workout" onclick="deleteRoutine(this)">
                  삭제
                </button>
              </div>
              <div th:each="workout : ${routine.workouts}">
                <p
                  class="mb-1"
                  th:text="${workout.workout_name} + ' x ' + ${workout.workoutSet.size()}"
                >
                  운동 이름 x 세트 수
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      function deleteRoutine(button) {
        var listGroupItem = button.closest('.list-group-item');
        var routineId = listGroupItem.querySelector('.routineId').textContent;
        if (confirm('정말 삭제하시겠습니까?')) {
          var csrf = /*[[${_csrf.token}]]*/ '';
          fetch('/workout/delete/' + routineId, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRF-TOKEN': csrf,
            },
          })
            .then((response) => {
              if (response.ok) {
                return response.text();
              } else {
                throw new Error('삭제 실패: ' + response.status);
              }
            })
            .then((data) => {
              console.log(data);
              alert(data);
              listGroupItem.remove();
            })
            .catch((error) => {
              console.error('오류 발생:', error);
              alert('루틴 삭제 중 오류가 발생했습니다.');
            });
        }
      }
    </script>

    <!-- JQuery -->
    <!-- Popper.js 및 Bootstrap JS -->
    <script th:src="@{/popper.min.js}"></script>
    <!-- Popper.js 추가 -->
    <script th:src="@{/bootstrap.min.js}"></script>
    <!-- Bootstrap JS 추가 -->
  </body>
</html>
