<nav class="second-navbar" th:fragment="second_navbarFragment">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/workout/guide/chest">가슴</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workout/guide/triceps">삼두</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workout/guide/back">등</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workout/guide/biceps">이두</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workout/guide/leg">하체</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workout/guide/shoulder">어깨</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/workout/guide/abs">복근</a>
        </li>
    </ul>
</nav>
