<nav th:fragment="third_navbar_shoulderFragment">
    <ul class="nav nav-tabs" id="shoulderTab" role="tablist">
        <li class="nav-item">
            <a
                class="nav-link active"
                id="shoulder-press-tab"
                data-toggle="tab"
                href="#shoulder-press-pane"
                role="tab"
                aria-controls="shoulder-press-pane"
                aria-selected="true"
            >
                숄더 프레스
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="side-lateral-raise-tab"
                data-toggle="tab"
                href="#side-lateral-raise-pane"
                role="tab"
                aria-controls="side-lateral-raise-pane"
                aria-selected="false"
            >
                사이드 레터럴 레이즈
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="bent-over-lateral-raise-tab"
                data-toggle="tab"
                href="#bent-over-lateral-raise-pane"
                role="tab"
                aria-controls="bent-over-lateral-raise-pane"
                aria-selected="false"
            >
                벤트오버 레터럴 레이즈
            </a>
        </li>
    </ul>
    <div class="tab-content" id="shoulderTabContent">
        <div class="tab-pane fade show active" id="shoulder-press-pane" role="tabpanel" aria-labelledby="shoulder-press-tab">
            <div class="container mt-4">
                <h2>숄더 프레스</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/3002.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>벤치에 앉아 가슴을 펴고 허리를 세워 주세요.</li>
                            <li>등받이가 있다면 90도가 아닌 70~80도 정도로 조절해주세요.</li>
                            <li>덤벨을 양손에 들고 귀 옆에 위치시켜 주세요.</li>
                            <li>팔꿈치는 완전히 몸 옆이 아닌 살짝 앞에 위치시켜 주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>덤벨을 수직으로 들어 올려 주세요.</li>
                            <li>덤벨을 가운데로 모으지 않고, 그대로 들어 올려 주세요.</li>
                            <li>천천히 시작 자세로 돌아오세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>팔을 올릴 때 숨을 내쉬고, 팔을 내릴 때 숨을 들이쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>어깨에 통증이 있거나 소리가 난다면, 팔꿈치를 몸 옆이 아닌 앞으로 위치시켜 주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="side-lateral-raise-pane" role="tabpanel" aria-labelledby="side-lateral-raise-tab">
            <div class="container mt-4">
                <h2>사이드 레터럴 레이즈</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/3003.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>양손에 덤벨을 들고 어깨너비로 서주세요.</li>
                            <li>가슴을 열고 허리를 세워 주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>팔꿈치를 살짝 구부린 채로 덤벨을 어깨높이까지 천천히 들어 올려주세요.</li>
                            <li>손바닥의 방향은 바닥 혹은 몸 앞쪽을 향하게 해주세요.</li>
                            <li>덤벨을 천천히 내려 시작 자세로 돌아오세요.</li>
                            <li>단, 덤벨을 완전히 내리지 않고, 어깨에 힘이 풀리기 전까지만 내려주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>팔을 올릴 때 숨을 내쉬고, 팔을 내릴 때 숨을 들이쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>어깨높이보다 덤벨을 높게 들지 않도록 주의해주세요.</li>
                            <li>손바닥이 몸 뒤를 향하면 어깨가 아플 수 있으니 바닥 혹은 몸 앞을 향하게 해주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="bent-over-lateral-raise-pane" role="tabpanel" aria-labelledby="bent-over-lateral-raise-tab">
            <div class="container mt-4">
                <h2>벤트 오버 레터럴 레이즈</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/3015.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>양손에 덤벨을 들고 어깨너비로 서주세요.</li>
                            <li>엉덩이를 뒤로 빼면서 상체를 앞으로 굽혀줍니다.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>팔꿈치를 살짝 구부린 채로 덤벨을 어깨높이까지 천천히 들어 올려주세요.</li>
                            <li>덤벨을 천천히 내려 시작 자세로 돌아오세요.</li>
                            <li>단, 덤벨을 완전히 내리지 않고, 어깨에 힘이 풀리기 전까지만 내려주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>팔을 올릴 때 숨을 내쉬고, 팔을 내릴 때 숨을 들이쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>어깨높이보다 덤벨을 높게 들지 않도록 주의해주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
