<nav th:fragment="third_navbar_legFragment">
    <ul class="nav nav-tabs" id="legTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="squat-tab" data-toggle="tab" href="#squat-pane" role="tab" aria-controls="squat-pane" aria-selected="true">
                바벨 스쿼트
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="leg-extension-tab"
                data-toggle="tab"
                href="#leg-extension-pane"
                role="tab"
                aria-controls="leg-extension-pane"
                aria-selected="false"
            >
                레그 익스텐션
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="leg-curl-tab" data-toggle="tab" href="#leg-curl-pane" role="tab" aria-controls="leg-curl-pane" aria-selected="false">
                레그 컬
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="stiff-deadlift-tab"
                data-toggle="tab"
                href="#stiff-deadlift-pane"
                role="tab"
                aria-controls="stiff-deadlift-pane"
                aria-selected="false"
            >
                스티프 데드리프트
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="lunges-tab" data-toggle="tab" href="#lunges-pane" role="tab" aria-controls="lunges-pane" aria-selected="false"> 런지 </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="leg-press-tab" data-toggle="tab" href="#leg-press-pane" role="tab" aria-controls="leg-press-pane" aria-selected="false">
                레그 프레스
            </a>
        </li>
    </ul>
    <div class="tab-content" id="legTabContent">
        <div class="tab-pane fade show active" id="squat-pane" role="tabpanel" aria-labelledby="squat-tab">
            <div class="container mt-4">
                <h2>바벨 스쿼트</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/4001.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>바벨을 어깨높이에 거치해 주세요.</li>
                            <li>바벨을 어깨너비보다 넓게 잡고, 승모근에 올려주세요.</li>
                            <li>다리는 어깨너비로 벌리고, 발끝은 20~30도 정도 벌려주세요.</li>
                            <li>가슴을 펴고, 허리를 세워주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>복부를 조이고, 허리를 단단히 세운 상태에서 고관절부터 접어서 엉덩이가 밑으로 내려가게 해주세요.</li>
                            <li>자연스럽게 무릎이 접히면서 허벅지가 지면과 수평이 될 때까지 내려가 주세요.</li>
                            <li>발바닥 중앙으로 강하게 밀면서 일어나 주세요.</li>
                            <li>엉덩이가 올라가면서 무릎과 고관절을 차례로 펴고, 시작 자세로 돌아와 주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>내려갈 때 숨을 들이쉬고, 올라갈 때 숨을 내쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>과도하게 상체를 앞으로 숙이지 않도록 주의해주세요.</li>
                            <li>허리가 꺾이지 않도록 가슴을 펴고, 코어에 힘을 주세요.</li>
                            <li>허리를 세운다고 과도하게 꺾지 마세요.</li>
                            <li>엉덩이를 너무 뒤로 빼지 말아 주세요.</li>
                            <li>발이 지면에서 떨어지지 않도록 해주세요.</li>
                            <li>일어날 때 무릎이 안으로 모이지 않도록 해주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="leg-extension-pane" role="tabpanel" aria-labelledby="leg-extension-tab">
            <div class="container mt-4">
                <h2>레그 익스텐션</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/4007.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>몸을 머신 중앙에 위치시키고, 무릎 뒤쪽이 패드 끝부분에 닿도록 조절해서 앉아주세요.</li>
                            <li>발목 패드가 발목보다 위쪽에 닿도록 설정해 주세요.</li>
                            <li>발목이 90도가 될 수 있도록 몸쪽으로 발을 당겨주세요.</li>
                            <li>손잡이를 잡고 엉덩이와 등을 떼지 않도록 머신과 몸을 밀착시켜 주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>무릎이 완전히 펴지기 전까지 올려주세요.</li>
                            <li>무릎과 가까운 허벅지 앞쪽부터 고관절 쪽의 허벅지 위쪽까지 수축해 주세요.</li>
                            <li>무게의 저항을 버티면서 무릎의 각도가 90도 되기 전까지 천천히 내려주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>다리를 올릴 때 숨을 내 쉬고, 다리를 내릴 때 숨을 들이 쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>무릎이 다칠 수 있으니 반동을 주지 마세요.</li>
                            <li>무릎을 완전히 굽히거나 펴지 않도록 주의해 주세요.</li>
                            <li>엉덩이와 등이 떨어지지 않도록 주의해 주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="leg-curl-pane" role="tabpanel" aria-labelledby="leg-curl-tab">
            <div class="container mt-4">
                <h2>레그 컬</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/4004.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>몸을 머신 중앙에 위치시키고, 무릎이 패드 끝부분에 닿도록 엎드려주세요.</li>
                            <li>발목 패드가 아킬레스건 위쪽에 닿도록 설정해 주세요.</li>
                            <li>발목이 90도가 될 수 있도록 몸쪽으로 발을 당겨주세요.</li>
                            <li>손잡이를 잡고 머신과 몸을 밀착시켜 주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>허벅지 뒤쪽과 엉덩이에 힘을 주고, 발목 패드를 엉덩이까지 올려주세요.</li>
                            <li>무게의 저항을 받으면서 무릎이 완전히 펴지기 전까지만 내려주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>다리를 올릴 때 숨을 내쉬고, 다리를 내릴 때 숨을 들이쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>무릎이 완전히 펴지지 않도록 주의해주세요.</li>
                            <li>상체가 들리지 않도록 주의해주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="stiff-deadlift-pane" role="tabpanel" aria-labelledby="stiff-deadlift-tab">
            <div class="container mt-4">
                <h2>스티프 데드리프트</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/4005.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>다리를 골반 너비로 벌려주세요.</li>
                            <li>바벨은 어깨너비로 잡아주세요.</li>
                            <li>가슴을 펴고, 허리를 세워주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>무릎 관절은 펴진 상태로 고정하고, 천천히 허리를 숙여주세요.</li>
                            <li>내려갈 때는 바벨을 몸과 붙어서 내려주세요.</li>
                            <li>시선은 약간 앞쪽을 바라봐 주세요.</li>
                            <li>허리를 펴면서 천천히 시작 자세로 돌아와 주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>내려갈 때 숨을 들이쉬고, 올라갈 때 숨을 내쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>시선이 바닥을 향하지 않도록 주의해 주세요.</li>
                            <li>무릎을 과도하게 굽히지 않도록 주의해 주세요.</li>
                            <li>허리가 꺾이지 않도록 가슴을 펴고, 코어에 힘을 주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="lunges-pane" role="tabpanel" aria-labelledby="lunges-tab">
            <div class="container mt-4">
                <h2>런지</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/4008.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>덤벨을 양손에 잡고, 다리는 골반 너비로 벌려주세요.</li>
                            <li>가슴을 펴고, 허리를 세워주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>한쪽 발을 앞으로 내디디면서, 반대쪽 발의 뒤꿈치를 세워주세요.</li>
                            <li>양쪽 무릎의 각도가 90도가 될 때까지 내려가 주세요.</li>
                            <li>가슴을 펴고, 허리를 세운 상태를 유지하며 시작 자세로 돌아와 주세요.</li>
                            <li>반대쪽 다리도 똑같이 진행해 주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>내려갈 때 숨을 들이쉬고, 올라갈 때 숨을 내쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>상체가 앞으로 기울어지지 않게 주의해 주세요.</li>
                            <li>무릎을 굽힐 때 앞으로 내디딘 발의 무릎이 발보다 앞으로 나오지 않도록 주의해 주세요.</li>
                            <li>무게중심이 지나치게 앞으로 쏠리지 않도록 해주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="leg-press-pane" role="tabpanel" aria-labelledby="leg-press-tab">
            <div class="container mt-4">
                <h2>레그 프레스</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/4003.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>몸을 머신 중앙에 위치시키고, 발판 중앙에 발을 올려주세요.</li>
                            <li>다리는 어깨너비로 벌려주시고, 발끝은 20~30도 벌려주세요.</li>
                            <li>발판 중앙보다 위쪽에 발을 위치시키면 허벅지 뒤쪽에 더욱 자극이 옵니다.</li>
                            <li>발판 중앙보다 아래쪽에 발을 위치시키면 허벅지 앞쪽에 더욱 자극이 옵니다.</li>
                            <li>가슴을 펴고, 허리는 살짝 아치를 만들어 주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>복부를 조인 상태에서 고관절부터 무릎 순서로 굽혀 주세요.</li>
                            <li>허벅지가 내 몸과 수직이 될 때까지 내려가 주세요.</li>
                            <li>고관절을 펴면서 무릎이 살짝 굽혀진 상태까지만 밀어주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>내려갈 때 숨을 들이쉬고, 올라갈 때 숨을 내쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>무릎이 완전히 펴지지 않도록 주의해 주세요.</li>
                            <li>무릎이 벌어지지 않도록 주의해 주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
