<nav th:fragment="third_navbar_tricepsFragment">
    <ul class="nav nav-tabs" id="tricepsTab" role="tablist">
        <li class="nav-item">
            <a
                class="nav-link active"
                id="close-grip-bench-press-tab"
                data-toggle="tab"
                href="#close-grip-bench-press-pane"
                role="tab"
                aria-controls="close-grip-bench-press-pane"
                aria-selected="true"
            >
                클로즈 그립 벤치 프레스
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="lying-triceps-extension-tab"
                data-toggle="tab"
                href="#lying-triceps-extension-pane"
                role="tab"
                aria-controls="lying-triceps-extension-pane"
                aria-selected="false"
            >
                라잉 트라이셉스 익스텐션
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="dumbbell-overhead-extension-tab"
                data-toggle="tab"
                href="#dumbbell-overhead-extension-pane"
                role="tab"
                aria-controls="dumbbell-overhead-extension-pane"
                aria-selected="false"
            >
                덤벨 오버헤드 익스텐션
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                id="triceps-pushdown-tab"
                data-toggle="tab"
                href="#triceps-pushdown-pane"
                role="tab"
                aria-controls="triceps-pushdown-pane"
                aria-selected="false"
            >
                트라이셉스 푸시다운
            </a>
        </li>
    </ul>
    <div class="tab-content" id="tricepsTabContent">
        <div class="tab-pane fade show active" id="close-grip-bench-press-pane" role="tabpanel" aria-labelledby="close-grip-bench-press-tab">
            <div class="container mt-4">
                <h2>클로즈 그립 벤치프레스</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/6012.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>벤치에 누워 두 발을 바닥에 고정해주세요.</li>
                            <li>어깨를 뒤로 당긴 후 고정하여 어깨가 가슴보다 뒤에 위치하게 합니다.</li>
                            <li>허리는 자연스러운 아치 모양이 되게 해주세요.</li>
                            <li>어깨너비보다 조금 좁게 바벨을 두 손으로 잡아주세요.</li>
                            <li>허리와 어깨를 고정한 채로 바벨을 들어 바벨을 가슴 위에 위치하게 합니다.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>가슴에 바벨이 닿도록 천천히 바벨을 내려주세요.</li>
                            <li>내려가면서 팔꿈치를 접어주세요.</li>
                            <li>천천히 바벨을 들어 올려 시작 자세로 돌아와 주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>팔을 내릴 때 숨을 들이쉬고, 팔을 올릴 때 숨을 내쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>팔꿈치가 벌어지지 않도록 주의해주세요.</li>
                            <li>어깨가 가슴보다 앞으로 오게 되면 어깨에 무리가 갈 수 있으니 주의해주세요.</li>
                            <li>엉덩이가 벤치에서 떨어지지 않도록 주의해주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="lying-triceps-extension-pane" role="tabpanel" aria-labelledby="lying-triceps-extension-tab">
            <div class="container mt-4">
                <h2>라잉 트라이셉 익스텐션</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/6010.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>벤치에 누워서 날개뼈를 모으고, 가슴을 펴주세요.</li>
                            <li>허리는 아치 모양을 만들고, 발을 지면에 단단히 고정해 주세요.</li>
                            <li>바벨은 어깨너비보다 한 뼘 정도 좁게 잡고, 들어 올려서 이마 라인에 위치시켜 주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>팔꿈치를 고정한 상태에서 팔을 위로 밀어 펴주세요.</li>
                            <li>무게를 버티며 천천히 시작 자세로 돌아와 주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>팔을 올릴 때 숨을 내쉬고, 팔을 내릴 때 숨을 들이쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>팔꿈치가 벌어지지 않도록 주의해주세요.</li>
                            <li>팔을 과도하게 펴지 않도록 주의해주세요.</li>
                            <li>손목이 꺾이지 않게 주의해 주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="dumbbell-overhead-extension-pane" role="tabpanel" aria-labelledby="dumbbell-overhead-extension-tab">
            <div class="container mt-4">
                <h2></h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/6032.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>서서 덤벨을 머리 위로 들어 올립니다.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>덤벨을 양손으로 잡고 머리 위로 올리세요.</li>
                            <li>팔꿈치를 구부려 덤벨이 머리 뒤로 가게 하세요.</li>
                            <li>팔을 펴며 덤벨을 들어 올리세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>숨을 들이마시며 덤벨을 내리고 내쉬며 덤벨을 올립니다.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>팔꿈치를 고정하세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="triceps-pushdown-pane" role="tabpanel" aria-labelledby="triceps-pushdown-tab">
            <div class="container mt-4">
                <h2>케이블 트라이셉 푸쉬다운</h2>
                <div class="row">
                    <div class="col-md-6">
                        <video width="100%" autoplay loop muted playsinline>
                            <source src="https://planfit-images.s3.ap-northeast-2.amazonaws.com/training-videos-watermarked/6002.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-md-6">
                        <h4>시작 자세</h4>
                        <ol>
                            <li>턱이 있는 선상에 케이블을 위치시켜 주세요.</li>
                            <li>무릎을 살짝 굽히고, 엉덩이를 뒤로 살짝 빼주세요.</li>
                            <li>팔꿈치를 옆구리에 붙이고, 움직이지 않도록 고정해 주세요.</li>
                        </ol>
                        <h4>운동 동작</h4>
                        <ol>
                            <li>팔이 완전히 펴지기 전까지 아래로 내려주세요.</li>
                            <li>무게를 버티며 천천히 시작 자세로 돌아와 주세요.</li>
                        </ol>
                        <h4>호흡법</h4>
                        <ol>
                            <li>팔을 내릴 때 숨을 내쉬고, 팔을 올릴 때 숨을 들이쉬세요.</li>
                        </ol>
                        <h4>주의사항</h4>
                        <ol>
                            <li>팔꿈치가 벌어지지 않도록 주의해주세요.</li>
                            <li>팔을 과도하게 펴지 않도록 주의해주세요.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
