<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>메시지 보내기</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbarFragment}"></nav>
    <div class="container my-5 d-flex justify-content-center">
        <div class="card shadow-lg p-4" style="width: 500px;">
            <h4>메시지 보내기</h4>
            <form action="/messages/send" method="post">
                <!-- CSRF 토큰 추가 -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                
                <div class="form-group">
                    <label for="receiverName">받는 사람</label>
                    <input type="text" class="form-control" id="receiverName" name="receiverName" placeholder="수신자 이름">
                </div>
                <div class="form-group">
                    <label for="messageContent">메시지 내용</label>
                    <textarea class="form-control" id="messageContent" name="content" rows="3" placeholder="메시지를 입력하세요"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">메시지 보내기</button>
            </form>
        </div>
    </div>
    <script th:src="@{/popper.min.js}"></script> 	
    <script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>
